.mainContainer{
    margin: 5%;
    padding: 5%;
    background-color: #fff;
}
input{
    outline: none;
    border: 0px;
    font-size: 1rem;
}
.darkMode{
    background-color: hsl(209, 23%, 22%);
    color:  hsl(0, 0%, 100%);
}
.darkMode>input{
    background-color: hsl(209, 23%, 22%);
    color:  hsl(0, 0%, 100%);
}